$Brightorange: hsl(31, 77%, 52%); 
$Darkcyan: hsl(184, 100%, 22%); 
$Verydarkcyan: hsl(179, 100%, 13%);
$Transparentwhite : hsla(0, 0%, 100%, 0.75); //(paragraphs)
$Verylightgray: hsl(0, 0%, 95%); //(background, headings, buttons)

$fontbody: 15px;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
  }
}